<table class="table table-bordered table-striped flip-content">
    <thead class="flip-content">                            
        <tr>
            <th width="15%" class="text-left">Mã SP</th>
            <th>Tên SP</th>
            <th class="text-center">Số lượng đã giao</th>
        </tr>                           
    </thead>
    <tbody>
        <% @delivery.delivery_details.each do |delivery_detail| %>
        <tr>
            <td class="text-left"><strong><%= delivery_detail.get_product_code %></strong></td>
            <td class="text-left"><%= delivery_detail.get_product_name %></td>
            <td class="number text-center"><%= delivery_detail.quantity %></td>
        </tr>
        <% end %>
    </tbody>
</table>